#three-js-canvas {
  width: 100%;
  height: 61.8%;
  margin-top: 75px;
  margin-bottom: 0px;
}

/*
body {
  margin: 0;
  background-color: #92e0ff;
}
#three-js-canvas {
  width: 100%;
  height: 61.8%;
  margin-top: 16px;
  margin-bottom: 0px;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: #3500a7;
}
a:hover {
  color: #81f19a;
}
.light-blue {
  color: #92e0ff;
}
.dark-blue {
  color: #190247;
}
.yellow {
  color: #fdf36b;
}
.brown {
  color: #460d10;
}
.pink {
  color: #ff557a;
}
.light.pink {
  color: #ff809d;
}
.faded {
  color: #49209b;
}
.vue-green {
  color: #1b8f1b;
}
.ruby-red {
  color: #7a0e0e;
}
.light-blue, .yellow, .brown, .light.pink, .vue-green, .ruby-red {
  color: #045421;
}
.brand {
  color: #285757;
}
.brand {
  letter-spacing: 3px;
}
#article {
  color: #0300a7;
  margin-left: 9%;
  margin-right: 9%;
}
p {
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 0;
  margin-bottom: 1px;
}
#about-me small, #about-me small i {
  font-size: 14px;
}
#about-me #social-media {
  padding-top: 3%;
  text-align: center;
}
#about-me #social-media i {
  margin-left: 38px;
}
img#logo {
  position: absolute;
  left: 7px;
  top: 35px;
  width: 40%;
  margin: 2px;
}
.already-there {
  color: #25004e;
  opacity: 0.65;
}
#gallery-controls {
  width: 100%;
  height: 20px;
}
#gallery-controls a {
  font-size: 17px;
  float: right;
  color: #aff5ff;
}
#gallery-controls a:hover {
  color: #81f19a;
} */
